
.ipynb_checkpoints/create_pipeline-checkpoint.ipynb
.ipynb_checkpoints/download-checkpoint.ipynb
.ipynb_checkpoints/explore_data-checkpoint.ipynb
.ipynb_checkpoints/test-model-checkpoint.ipynb
notebooks/.ipynb_checkpoints/unzip-data-checkpoint.ipynb
data/dna/.ipynb_checkpoints/test-checkpoint.txt
data/Acropora_millepora_pacbio_mapped_reads.fasta.gz
